# Kaggle task for dta science with pandas Ai

http://www.kaggle.com/code/harunshimanto/pandas-with-data-science-ai

In [1]:
import pandas as pd

In [2]:
ratings = pd.read_csv(r'C:\Users\Admin\Downloads\archive\rating.csv')

In [3]:
ratings.shape

(20000263, 4)

In [4]:
ratings.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [5]:
ratings.head(3)

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39

In [6]:
tags = pd.read_csv(r'C:\Users\Admin\Downloads\archive\tag.csv')

In [7]:
tags.head(3)

   userId  movieId          tag            timestamp
0      18     4141  Mark Waters  2009-04-24 18:19:40
1      65      208    dark hero  2013-05-10 01:41:18
2      65      353    dark hero  2013-05-10 01:41:19

In [8]:
tags.tail()

        userId  movieId            tag            timestamp
465559  138446    55999        dragged  2013-01-23 23:29:32
465560  138446    55999  Jason Bateman  2013-01-23 23:29:38
465561  138446    55999         quirky  2013-01-23 23:29:38
465562  138446    55999            sad  2013-01-23 23:29:32
465563  138472      923  rise to power  2007-11-02 21:12:47

In [9]:
tags.shape

(465564, 4)

In [10]:
movies = pd.read_csv(r'C:\Users\Admin\Downloads\archive\movie.csv')

In [11]:
movies.shape

(27278, 3)

In [12]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [13]:
print(tags.columns)
print(ratings.columns)
print(movies.columns)

Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='object')
Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')
Index(['movieId', 'title', 'genres'], dtype='object')

In [14]:
del tags['timestamp']
del ratings['timestamp']

In [15]:
print(tags.columns)
print(ratings.columns)
print(movies.columns)

Index(['userId', 'movieId', 'tag'], dtype='object')
Index(['userId', 'movieId', 'rating'], dtype='object')
Index(['movieId', 'title', 'genres'], dtype='object')

In [16]:
tags.head(3)

   userId  movieId          tag
0      18     4141  Mark Waters
1      65      208    dark hero
2      65      353    dark hero

In [17]:
tags.iloc[0]

userId              18
movieId           4141
tag        Mark Waters
Name: 0, dtype: object

In [21]:
tags.iloc[2]

userId            65
movieId          353
tag        dark hero
Name: 2, dtype: object

In [22]:
row_1 = tags.iloc[1]
row_1

userId            65
movieId          208
tag        dark hero
Name: 1, dtype: object

In [25]:
row_0 = tags.iloc[0]
row_0

userId              18
movieId           4141
tag        Mark Waters
Name: 0, dtype: object

In [26]:
row_0.index

Index(['userId', 'movieId', 'tag'], dtype='object')

In [29]:
row_0['userId']

np.int64(18)

In [30]:
row_1['movieId']

np.int64(208)

In [31]:
'rating' in row_0

False

In [32]:
row_0.name

0

In [36]:
row_0 = row_0.rename('first row')

In [38]:
row_0.name

'first row'

In [39]:
tags.index

RangeIndex(start=0, stop=465564, step=1)

In [41]:
ratings.index

RangeIndex(start=0, stop=20000263, step=1)

In [42]:
tags.iloc[[0,11,500]]

     userId  movieId                tag
0        18     4141        Mark Waters
11       65     1783      noir thriller
500     342    55908  entirely dialogue

In [43]:
movies.iloc[[5,55,555]]

     movieId                              title                      genres
5          6                        Heat (1995)       Action|Crime|Thriller
55        56     Kids of the Round Table (1995)  Adventure|Children|Fantasy
555      560  Beans of Egypt, Maine, The (1994)                       Drama

In [45]:
ratings['rating'].describe()

count    2.000026e+07
mean     3.525529e+00
std      1.051989e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

In [52]:
ratings.describe()

             userId       movieId        rating
count  2.000026e+07  2.000026e+07  2.000026e+07
mean   6.904587e+04  9.041567e+03  3.525529e+00
std    4.003863e+04  1.978948e+04  1.051989e+00
min    1.000000e+00  1.000000e+00  5.000000e-01
25%    3.439500e+04  9.020000e+02  3.000000e+00
50%    6.914100e+04  2.167000e+03  3.500000e+00
75%    1.036370e+05  4.770000e+03  4.000000e+00
max    1.384930e+05  1.312620e+05  5.000000e+00

In [53]:
ratings['rating'].mean()

np.float64(3.5255285642993797)

In [54]:
ratings.mean()

userId     69045.872583
movieId     9041.567330
rating         3.525529
dtype: float64

In [55]:
ratings['rating'].min()

0.5

In [56]:
ratings['rating'].max()

5.0

In [57]:
ratings['rating'].std()

1.051988919275684

In [58]:
ratings['rating'].mode()

0    4.0
Name: rating, dtype: float64

In [59]:
ratings.corr()

           userId   movieId    rating
userId   1.000000 -0.000850  0.001175
movieId -0.000850  1.000000  0.002606
rating   0.001175  0.002606  1.000000

In [61]:
filter1 = ratings['rating'] > 10
print(filter1)
filter1.any()

0           False
1           False
2           False
3           False
4           False
            ...
20000258    False
20000259    False
20000260    False
20000261    False
20000262    False
Name: rating, Length: 20000263, dtype: bool

np.False_

In [62]:
filter2 = ratings['rating'] > 0
print(filter2)
filter2.any()

0           True
1           True
2           True
3           True
4           True
            ...
20000258    True
20000259    True
20000260    True
20000261    True
20000262    True
Name: rating, Length: 20000263, dtype: bool

np.True_

In [63]:
movies.shape

(27278, 3)

In [71]:
movies.isnull().any().any()

np.False_

In [67]:
ratings.shape

(20000263, 3)

In [72]:
ratings.isnull().any().any()

np.False_

In [73]:
tags.shape

(465564, 3)

In [74]:
tags.isnull().any().any()

np.True_

In [75]:
tags = tags.dropna()

In [76]:
tags.isnull().any().any()

np.False_

In [77]:
tags.shape

(465548, 3)

In [82]:
%matplotlib inline

ratings.hist(column='rating', figsize=(10,5))

array([[<Axes: title={'center': 'rating'}>]], dtype=object)

In [83]:
ratings.boxplot(column='rating', figsize=(10,5))

In [84]:
tags.head()

   userId  movieId            tag
0      18     4141    Mark Waters
1      65      208      dark hero
2      65      353      dark hero
3      65      521  noir thriller
4      65      592      dark hero

In [85]:
tags['tag'].head()

0      Mark Waters
1        dark hero
2        dark hero
3    noir thriller
4        dark hero
Name: tag, dtype: object

In [86]:
movies[['title','genres']].head()

,title,genres
0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,Jumanji (1995),Adventure|Children|Fantasy
2,Grumpier Old Men (1995),Comedy|Romance
3,Waiting to Exhale (1995),Comedy|Drama|Romance
4,Father of the Bride Part II (1995),Comedy

In [87]:
ratings[-10:]

          userId  movieId  rating
20000253  138493    60816     4.5
20000254  138493    61160     4.0
20000255  138493    65682     4.5
20000256  138493    66762     4.5
20000257  138493    68319     4.5
20000258  138493    68954     4.5
20000259  138493    69526     4.5
20000260  138493    69644     3.0
20000261  138493    70286     5.0
20000262  138493    71619     2.5

In [89]:
tag_counts = tags['tag'].value_counts()
tag_counts[-10:]

tag
Hell naw                      1
This is my happy face         1
I heel toe on Uday's house    1
Why?                          1
Bobo                          1
Diamond Dallas Page           1
I'm Devon Butler!             1
No arguement                  1
Really Bad                    1
Botox                         1
Name: count, dtype: int64